.sp-translations {
  overflow-y: auto;

  .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2px;
    
    .b-link {
      &:hover {
        text-decoration: none;
      }
      
      &.active {
        color: var(--link-hover-color);
        text-decoration: underline;
      }
    }

    .b-menu-line.entry {
      line-height: 1.5rem;

      &:hover .name {
        text-decoration: underline;
      }

      .size {
        float: right;
        padding: 0 5px;
      }
    }
  }
}