@use "sass:meta";

:root {
  --sp-background: url(/assets/background/square_bg.png);
  --sp-active-btn-clr: #456;
  --sp-inactive-btn-clr: #8697a7;
  --sp-transition-color: color 0.25s ease;
  --sp-main-indent: 5px;
  --sp-main-size: 32px;
}

.boop {
  --transition-color: inherit;
  --padding-main: 4px;
  --padding-icon: 8.5px;
}

.p-animes-show  .shiki-player {
  .tiny {
    font-size: 11px;
  }

  :not(.stat_name) > :not(.active, :hover, .disabled) > .size {
    color: var(--color-text-hint, #777);
    margin-left: auto;
  }

  .sp-buttons {
    display: flex;
    gap: 12px;

    &.group {
      gap: 0;
    }

    &.stretch > .b-link_button:not(.is-icon), &.stretch > .sp-buttons {
      flex: 1 0 0;
    }
  }

  .b-link_button {
    white-space: nowrap;
    display: inline-flex;
    gap: 8px;
    margin: 0;
    padding: 4px 1rem;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    min-width: 1px;
    position: relative;
    text-align: center;

    .fa-eye, .fa-bookmark, .number {
      -webkit-transition: var(--transition-color);
      transition: var(--transition-color);
    }

    .fa-eye, .fa-bookmark {
      color: var(--color-text-hint, #777);
    }

    &.watched .fa-bookmark {
      color: var(--color-primary-hovered, #4c86c8);
    }

    &.watched.dark .fa-bookmark {
      color: var(--color-text-on-primary, #4c86c8);
    }

    &:hover {
      .fa-eye, .fa-bookmark {
        color: inherit;
      }
    }
  }

  .sp-buttons {
    .b-link_button {
      min-width: 32px;

      &:first-child {
        border-radius: var(--border-rounded, 0) 0 0 var(--border-rounded, 0);
      }

      &:last-child {
        border-radius: 0 var(--border-rounded, 0) var(--border-rounded, 0) 0;
      }

      &.is-icon {
        padding: var(--padding-icon, 4px);

        &.size-lg {
          height: 32px;
          line-height: 32px;
        }

        .icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  
  .sp-container {
    display: flex;

    &.sp-content {
      max-height: 496px;
      height: 359px;
      min-height: 359px;

      &.max-height {
        height: 496px;
      }
    }

    @include meta.load-css('viewport.scss');
    
    @include meta.load-css('sidebar.scss');

    &[data-player-sidebar=hidden] .sp-sidebar {
      display: none;
    }
  }

  @include meta.load-css('episodes.scss');

  .sp-footer {
    .script-info {
      color: var(--color-text-disabled, #9da2a8);
      cursor: default;
      font-size: 12px;
    }
  }

  .disabled {
    &, ::before, ::after {
      cursor: not-allowed !important;
    }
  }
}