.sp-viewport {
  width: 100%;
  background: var(--sp-background);
  position: relative;
  backdrop-filter: sepia(1) contrast(0.5) hue-rotate(125deg);
  
  &_iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &_buttons {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    overflow: hidden;
    transition: opacity 0.3s ease;
    opacity: 0;

    .b-link_button {
      z-index: 3;

      &.is-icon {
        padding-left: 0;
        padding-right: 0;
        width: 30px;
        
        &.size-lg {
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }

  &_buttons.visible, &:hover &_buttons {
    opacity: 1;
  }
}